{% extends 'blog/base.html' %}
{% block content %}

<h2>My Tech Blog List</h2>

<a href="create/">
    <button>Create New Post</button>
</a>

<ul>
    {% for list in blog_list %}
        <li>
            <h3><a href="{% url 'blog_detail' list.id %}">{{ list.title }}</a></h3> <p>{{list.content}}</p>
            <div class="actions">
                <a href="{% url 'blog_update' list.id %}">Update</a>
                <a href="{% url 'blog_delete' list.id %}">Delete</a>
            </div>
        </li>
    {% endfor %}
</ul>

{% endblock %}